
body{
    
    text-align: center;
    font-family: 'Merriweather', serif;
    margin: 0px;
}
.top-container{
    background-color: #FCF1F1 ;
    padding-top: 100px;
}
h1{
    color: #F05454;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    width: 30%;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #FF6363;
    font-weight: normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #FF7272;
    margin-top: 10px;
    margin-bottom: 20px;
}
.middle-container{
    padding-bottom: 30px;

}
.bottom-container{
    background-color: #F54748;
    height: 100px;
    padding-top: 30px;
    margin-top: 30px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
}
.plane{
    position: absolute;
    width: 15%;
    top: 175px;
    left: 10%;
}
.gears{
    position: absolute;
    width: 15%;
    right: 10%;
    top: 50px;
}
.circ{
    border-radius: 100%;
    margin-top: 40px;
    width: 15%;
}
.comp{
    width: 25%;
}
.prog-txt{
    font-size: 1.8rem;
    margin-top: 0px;
}
.footer-link{
    color:#9A1F40;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
}
.skill-row{
    width: 50%;
    margin: 80px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.cod{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.pgm{
    width: 25%;
    float: right;
    margin-left: 30px;
}
.bold{
    font-weight: bold;
    margin-bottom: 20px;
}
hr{
    border-style: none;
    border-top-style: dotted;
    border-color: #FCD2D1;
    border-width: 5px ;
    width: 4%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.btn {
	box-shadow: 0px 6px 8px -1px #8a2a21;
	background:linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
	background-color:#c62d1f;
	border-radius:42px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:14px;
	font-weight:bold;
	padding:10px 31px;
	text-decoration:none;
	text-shadow:0px 2px 3px #810e05;
}
.btn:hover {
	background:linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
	background-color:#f24437;
}
.btn:active {
	position:relative;
	top:1px;
}
.contact-me{
    line-height: 1.5;
}
.copyright{
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.85rem;
    color:#9A1F40;
}
.feelfree{
    margin-bottom: 30px;
}
a:hover{
    color: #FAEDF0;
}
a:active{
    position: relative;
    top: 1px;
}
